*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font);
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

main, body > section {
    padding-block-start: 5.7rem;
}